*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    background-attachment: fixed;
    background-image: url('https://wallpapercave.com/wp/wp8235043.jpg');
    background-size:cover;
    background-position: center;
    
}


li{
    list-style: none;
    
}

a{
    text-decoration: none;
    color:orange;
    font-size: 1rem;
}

a:hover{
    color: gray;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .listLinks {
    display: flex;
    gap: 2rem;
    
}

.navbar .side_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Drop down*/
.dropdown{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.dropdown.open{
    height: 240px;
}

.dropdown li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Responsive Design*/
@media(max-width: 992px){
    .navbar .listLinks{
        display: none;
    }

    .navbar .side_btn{
        display: block;
    }

    .dropdown{
        display: block;
    }
}

/* index.html css */
/* Reset default margin and padding for body and lists */
body, ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  h1{
      color: orange;
  }
  /* Style for exercise container */
  #exercise-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    
    
  }
  
  /* Style for exercise item */
  .exercise-item {
    flex-basis: calc(33.33% - 20px); /* Adjust width for 3 items per row */
    padding: 5px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgb(156, 156, 152);
  }
  .exercise-item iframe{
      max-width: 100%;
      max-height: 100%;
  }
  
  /* Style for exercise item title */
  .exercise-item h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style for steps list */
  .exercise-item ol {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  /* Style for pagination section */
  #pagination {
    margin-top: 20px;
  }
  
  /* Style for pagination links */
  #pagination a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 115, 0);
    font-size: large;
  }

  input{
    color: orange;
  }

.filter{
    display: inline-block;
}