{% extends "layout.html" %}



{% block content %}

<body>
    
    <div classs="addRoutine">
        <form action="/addRoutine" method="POST" class="addRoutineForm">
            <div>
                <input placeholder="title" id="title" name="title" type="text" pattern="[a-z A-Z]*" 
                  oninvalid="setCustomValidity('Please enter alphabets only. ')" required>
            </div>
            
            <div class="col s4 card-action">
                <input type="submit" class="submit_btn" value="Add Routine">
            </div>

        </form>


    </div>
    
    <!--
    <div class="routine">
        {% for routine in routines %}
            <div class="routineId" id="{{routine.id}}" ">{{routine.id}}</div>
            <div class="routineTitle" onclick="routine()">{{routine.title}}</div>
        {% endfor %}
    </div>
    -->
    <div class="routine-select">
        
          <select id="routine" onchange="routine()">
            <option value="" disabled selected >Choose a Routine</option>
            {% for routine in routines %}
                <option class ="routineTitle" value="{{routine.id}}">{{routine.title}}</option>
            {% endfor %}
          </select>

    </div>


    <div class="days">
        {% if show  == "yes" %}
        <h2 style="color: orange;">Days:</h2>
        

        <div>
            {%for day in days%}
                <div class = "dayTitle" id="day{{day.id}}"onmouseout="changeDayTitle('{{day.id}}')" onclick="mouseDown('{{day.id}}')">{{day.title}}</div>
                <i class="fa fa-trash" style="color:red;" onclick="removeDay('{{day.id}}')"></i>
                <div class="exercise-container">
                {%for workout in workouts%}
                    {%if workout.day_id == day.id%}

                        <div class ="exercise-item">
                            
                            <h2>{{workout.name}}</h2>
                            <p><iframe src="{{workout.videoURL}}" frameborder="0" allowfullscreen></iframe></p>
                            <p><strong>Category: </strong>{{workout.category}}</p>
                            <p><strong>Primary Target: </strong>{{workout.primary_target}}</p>

                            <div class="removeIcon"  id = "removeIcon">
                                <i class="fa fa-trash" style="color:red;" onclick="remove('{{workout.id}}')"></i>
                            </div>
                            <div class="alternative">
                                <button class="alt_btn" onclick="alternative('{{workout.id}}', '{{workout.category}}')">Get Alternative Workout</button>
                            </div>
                        </div>
                        
                       
                    {%endif%}
                {%endfor%}
                </div>
                
            {% endfor %}

        </div>

        <div classs="addDay">
            <form action="/addDay" method="POST" class="addDayForm">
                <div>
                    <input placeholder="Day" id="day" name="day" type="text" pattern="[a-z A-Z 0-9]*" 
                      oninvalid="setCustomValidity('Please enter alphabets/letters only. ')" required>
                </div>
                <div style="display: none">
                    <input name="routineId" value="{{routineId}}">
                </div>
                <div class="col s4 card-action">
                    <input type="submit" class="submit_btn" value="Add Day">
                </div>
            </form>
        </div>   
        
        
        {% endif%}


        

    </div>


</body>

<script>

    function routine(){
        var routine = document.getElementById("routine").value;
        let url = "/myWorkouts/" + routine;
        window.location.href = url;

    }

    function remove(workoutId){
        //var deleteIcon = document.getElementsByClassName("removeIcon")
        //deleteIcon.style.display = 'visible';

        console.log(workoutId)
        let url = "/removeWorkout/" + workoutId;
        window.location.href = url;
        
    }

    function removeDay(dayId){
        let url = "/removeDay/" + dayId;
        window.location.href = url;
    }
    
    
    var editing;

    function mouseDown(dayId){
        editing = "true"
        var titleField = document.getElementById("day"+dayId)
        titleField.contentEditable = true;
    }
    
    function changeDayTitle(dayId){
        if (editing == "true"){
            var titleField = document.getElementById("day"+dayId)
            titleField.contentEditable = false;
            title = titleField.innerHTML;
            editing = "false";
            
            let url = "/renameDay-" + dayId + "/" + title;
            window.location.href = url;
        }
    
    function alternative(workoutID, category){
        let url = "/alternatives" + workoutID + "/" + category;
        window.location.href = url;

    }



</script>

<style>
    .dayTitle{
        color:white;
        font-size: 20px;
    }

    .routineTitle:hover{
        cursor: pointer;
    }

    i:hover{
        cursor: pointer;
        
    }

    body{
        height: 100vh;
        background-attachment: fixed;
        background-image: url('https://wallpapercave.com/wp/wp2483043.jpg');
        background-size:cover;
        background-position: center;
    }

    .exercise-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;
    }

     /* Style for exercise item */
    .exercise-item {
        flex-basis: calc(30% - 15px); /* Adjust width for 3 items per row */
        padding: 5px;
        border: 1px solid #000;
        margin: 0 auto;
        margin-bottom: 15px;
        background-color: rgb(156, 156, 152);
        
    }
    .exercise-item iframe{
        max-width: 75%;
        max-height: 75%;
    }
    
    /* Style for exercise item title */
    .exercise-item h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    /* Style for steps list */
    .exercise-item ol {
        margin-top: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .submit_btn{
        background-color: rgb(85, 84, 84);
    }
    .submit_btn:hover{
        background-color: rgb(61, 60, 60);
    }
    .alt_btn:hover{
        background-color: rgb(185, 180, 180);
    }
    .dayTitle{
        color: orange;
    }
   
</style>
{% endblock %}
